body{
    background-color: white;
}
tr{
    border: none;
}
li{
    list-style: none;
}
.container{
    max-width: 80%;
}
.profile{
    width: 500px;
    margin-left: -66px;
}
.col-md-8 {
    flex: 0 0 66.66666667%;
    max-width: 47.666667%;
}
.card-body{
    font-family: sans-serif;
}
.liked {
    color: rgb(219, 64, 126);
}
.liked:focus, .liked:hover{
    color: rgb(219, 64, 126);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #fcb723fe;
}
.navbar-light .navbar-nav .nav-link:focus {
    color: #fcb723fe;
}
.btn:focus, .btn.focus{
    box-shadow: none;  
}
.bg-purple{
    background-color: #532682fe;
}
.nav-title {
    color: white;
    font-size: 4em;
    font-family: 'Basketball', sans-serif;
}
.basketball{
    color: #fcb723fe;
}
.navbar-light .navbar-nav .nav-link:focus {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: 0.25rem;
}
.page-item{
    background-color: white;
    color: #532682fe;
}
.btn-login{
    width: 80%;
}
.card-header{
    background-color: #532682fe;
    color: #fcb723fe;
    font-weight: bold;
}
.card-list{
    width: 30%;
}
.like_post{
    width: 30%;
}
.card-header:first-child {
    border-radius: none;
}
.btn{
    background-color: #532682fe;
    color: #fcb723fe;
    text-decoration: none;
    border-color: none;
}
.btn:hover{
    background-color: #fcb723fe;
    color: #532682fe;
    text-decoration: none;
    border-color: none;
}
.box{
    width: 45%;
}
.pw-reset{
    color: #532682fe;
}
.menu-title{
    color: white;
}
a:hover{
    color: #4e2ea8fe;
}
.logout{
    color: red;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
}
.card-title{
    color: #fcb723fe;
}
.pr{
    font-size: smaller;
}
.bi .bi-plus-square{
    background-color: #fcb723fe;
}
.concept-title{
    width: 40%;
}
.concept{
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.concept:after {
    content: "";
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, rgba(85, 38, 130, 255), transparent);
    background: linear-gradient(to right, rgba(85, 38, 130, 255), transparent);
}
.concept-left{
    text-align: left;
}
.concept-right{
    text-align: right;
}
.user-del{
    color: red;
}
.create-user{
    text-align: center;
}

.login-text{
    transform: scale(calc(10 / 12)) translateY(-10px);
}
._aa48 {
    border: 0;
    display: flex;
    flex: 1 0 0px;
    font: inherit;
    font-size: 100%;
    height: 36px;
    margin: 0;
    min-width: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}
._aa49 ._aa4a {
    transform: scale(calc(10 / 12)) translateY(-10px);
    margin-left: 79px;
    color: gray;
}
._aa4a {
    border: 0;
    color: rgb(var(--ig-secondary-text));
    font: inherit;
    font-size: var(--system-12-font-size);
    height: 36px;
    left: 8px;
    line-height: 36px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    transform-origin: left;
    transition: transform ease-out .1s;
    -webkit-user-select: none;
    vertical-align: baseline;
    white-space: nowrap;
}
._aa49 ._aa4b {
    font-size: var(--system-12-font-size);
    padding: 14px 0 2px 8px!important;
    width: 70%;
    margin: auto;
}
input:focus {
    outline: none;
    border: 2px #532682fe solid;
    border-radius: 3px;
}
.detail{
    margin-bottom: 3%;
    border: 1px solid #dee2e6;
    border-radius: 2px;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: rgba(85, 38, 130, 0.85);
    color: aliceblue;
    border-radius: 1px;
}
.post_del{
    font-size: 20px;
}
.user_list th, .user_list td {
    padding: 1.75rem;
}
input:focus{
    border-color: #532682fe;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(85, 38, 130, 0.4);
}
a:hover{
    text-decoration: none;
}